/vendor
/node_modules
/bootstrap/cache/*.php
/storage/*.key
/storage/app/public
/storage/debugbar
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*
/.idea
/.vscode
/.fleet
/.phpunit.cache
/.DS_Store
/Thumbs.db
/.env
/.env.backup
/.env.production
/public/build
/public/hot
/coverage
/dist
/tmp
